body {
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#weather-icon {
  display: none;
}

#weather-info {
  margin-top: 20px;
  border: 1px black solid;
  padding: 20px;
}

#weather-info h2,
#weather-info p {
  margin: 5px 0;
}

#forecast {
  margin-top: 20px;
}

#forecast-container {
  display: flex;
  justify-content: space-between;
}

.forecast-item {
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 4px;
  text-align: center;
}

#history {
  margin-top: 20px;
}

#history-list {
  list-style-type: none;
  padding: 0;
}

#history-list li {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

#weather-dashboard {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: row;
}

#search-area {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

#results-area {
  display: flex;
  flex-direction: column;
  width: 80%;
}
